aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
asttokens
attrs
backoff
bcrypt
beautifulsoup4
behave
blinker
build
cachetools
certifi
cffi
chardet
charset-normalizer
chromadb
click
cloudscraper
colorama
coloredlogs
comm
cssselect
dataclasses-json
debugpy
decorator
Deprecated
distro
durationpy
exceptiongroup
execnet
executing
faiss-cpu
fastapi
fasteners
filelock
flatbuffers
frozenlist
fsspec
gitdb
GitPython
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
iniconfig
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kubernetes
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langsmith
numpy
openai
orjson
outcome
overrides
packaging
pandas
parameterized
parse
parse_type
parso
pdbp
pillow
platformdirs
pluggy
posthog
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
PyGetWindow
Pygments
PyMsgBox
pynose
pyotp
pyparsing
pyperclip
PyPika
pyproject_hooks
pyreadline3
PyRect
PyScreeze
PySocks
pytest
pytest-html
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-xdist
python-dateutil
python-dotenv
pytweening
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
sbvirtualdisplay
scikit-learn
scipy
selenium
seleniumbase
sentence-transformers
setuptools
shellingham
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tabcompleter
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
undetected-chromedriver
uritemplate
webdriver-manager
websocket-client
websockets
wheel

